[2012-09-29 17:07] CodingLama opened #2 "Upload doesnt work"
I have tried two times, but the upload doesnt worked. Having 4 ogv files and about 137 MB.

[2012-10-02 10:44] CodingLama opened #3 "Save button in Setting doesnt work"
Hi,

if I click on Save in Settings window. Nothing happen.

[2012-10-02 11:11] CodingLama opened #4 "v 1.14: HTML code visible"
Minor bug: HTML code in the surroundings of "Desc" visible.

[2012-10-02 13:24] #2 closed, assigned to nobody

[2012-10-02 20:43] #4 closed, assigned to nobody

[2012-10-02 23:11] reedy opened #5 "Language not selected on first load"
First load is in English, but if you look at Tools -> Language, nothing is selected.

Selecting English and restarting does remember the option

[2012-10-03 17:05] #5 closed, assigned to nobody

[2012-10-03 17:59] CodingLama opened #6 "Tick copy file name"
I got a new build of 1.14 you repaired. It seems to me those blue ticks use to copy the description and categories, newly copyies also file name.

[2012-10-03 18:03] CodingLama opened #7 "Place for other templates"
Hi, this is a suggestion to somehow make possible to add templates under description. Now this opportunity is only in Settings as far as I know (called "text under license"). If I place there a template it pose it nicely under licence tag. If I dont want to use such template to all files, I will add it to description to each file I need.

But some crowds on Commons say, this mess up the descriptio

[2012-10-03 18:18] CodingLama opened #8 "Minor "dirt" in description"
Hi another minor problem. There is something which looks like the dubble dot uppon German letters. I attach screenshot. Now in the moment it is upon "R", and as I type it disapears or move upon text.

Err how to attach file?

[2012-10-03 18:30] #3 closed, assigned to nobody

[2012-10-03 18:33] CodingLama opened #9 "Uploading problem"
Again, I have uploading problem. There are 2 jpg files to upload, but several minutes passed and nothing happened. Wikimedia Sever status seems to be OK, I chacked my connection via external service at rychlost.cz and seems to be ok, too.

[2012-10-03 22:00] reedy opened #10 "Focus on password box if username already entered"
When you load the software again, and select File -> Log in, it would make more sense if the form focused on the password box if the username box was filled out

[2012-10-03 22:48] reedy opened #11 "Some dialog boxes should block access to the main program"
When Uploading, Logging in (and I guess some other actions) bring smaller dialog boxes infront of the main program, but should block access to the program!

[2012-10-04 17:39] #10 closed, assigned to nobody

[2012-10-04 17:50] #9 closed, assigned to nobody

[2012-10-10 08:35] CodingLama opened #12 "1.15 doesnt show subcats"
v. 1.15 doesnt show subcat when hower. E.g. commons:Category:Unidentified automobiles by country add in to Categories field. When I hower it it offers the same category and as a subchoice to open in browser, but if you have a look to that cut, there are subcats.

[2012-10-11 15:24] twkozlowski opened #13 "Enable providing different external descriptions for uploaded files"
It would be handy to be able to provide different external descriptions for multiple files uploaded at once; this would help a lot with batch uploading, when file descriptions are very similar to each other, and are only changed with command line text processing tools (sed, grep, awk, etc.).

[2012-10-11 15:27] ghost opened #14 "Illegal argument exception while uploading files in 1.14"
When uploading an OGV file with Vicuna 1.14, I am getting the following error visible in the command line output:

[code]

This issue has apparently been fixed in 1.15, but it still remains a problem for people using 1.14 which is the default stable version right now.

[2012-10-12 19:02] #12 closed, assigned to nobody

[2012-10-12 19:45] #14 closed, assigned to nobody

[2012-10-13 11:20] CodingLama opened #15 "CTRL+DEL doesnt work in 1.15"
CTRL+DEL doesnt work in 1.15 after edditing. I didnt figure what to do if I work on files and than Id like to crear session using a shortcut.

[2012-10-16 00:01] reedy opened #16 "Upload summary"
It'd be nice if an upload summary could be added, rather than just "VicuñaUploader X.XX"

[2012-10-19 10:02] ghost opened #17 "Enable overwriting existing files"
It should be possible to overwrite existing files; the current behaviour is to warn the user that the filename already exists and to stop the upload.

The user should be able to overwrite existing files after confirming that s/he knows what s/he's doing.

[2012-11-12 03:03] CodingLama opened #18 "V 1.16 wrong file name check"
I got wrong file name check:
*Zásmuky, věž zámku.jpg - file must have a unique name
*Zásmuky, mariánský sloup, svatý (001).jpg - same

these files doesnt exist on Commons.

[2013-03-18 06:02] CodingLama opened #19 "Empty category adds"
v.1.16 adds empty category. See  e.g. here: https://commons.wikimedia.org/wiki/File:P%C3%A1le%C4%8Dek,_auto.jpg

[2013-03-18 06:18] CodingLama opened #20 "Coord window behind"
v.1.16, Windows Vista

Sometimes the coordination tab goes to the bottom of all windows.

[2013-05-24 13:45] dominikmatus opened #21 "Option for disable Description tag."
Is it possible to add option for disabling =={{int:filedesc}}== and {{Information}} tag? I'm ofter uploading with Artwork tag and this is a problem. I had to delete it manualy.

See here: http://commons.wikimedia.org/w/index.php?title=File:Backgammon_board_in_Moravian_Gallery_(02).jpg&diff=92481009&oldid=92479259

[2013-07-09 22:03] #19 closed, assigned to nobody

[2013-07-09 22:04] #6 closed, assigned to nobody

[2013-07-10 06:44] CodingLama opened #22 "Keyboard shortcut for cat dropdown help"
Hi,

can you add keyboard shortcut for category dropdown help. It is usefull, but sumetimes it disturb, so swiching off via shortcut would be useful.

[2013-07-17 05:45] CodingLama opened #23 "Error when creating gallery"
There is an unknown error, when creating gallery. Dont know what more to say about this bug, but more people encountered that.

[2013-08-30 14:38] MAXimall opened #24 ""Logging in" doesn't work"

[2013-08-30 20:43] #24 closed, assigned to nobody

[2013-09-17 11:06] Zeffar opened #25 "Connecting to wiki outside of wikimedia foundation projects"
Hi,
I am speaking on behalf of wikiskripta.eu, which is a wiki for medical specialists. We would like to use vicuna uploader for bulk uploading images to our wiki. Would it be possible? What can we do for it to happen?

Thank you very much,

[2013-09-18 13:20] #17 closed, assigned to nobody

[2013-09-29 21:55] ghost opened #26 "Allow uploading WebM, FLAC and WAVE files"
Since early August 2013, Wikimedia Commons has allowed uploading files with the following new extensions: .webm, .flac, .wav. Please enable uploading them in VicunaUploader, thank you!

[2013-11-04 23:00] #26 closed, assigned to nobody

[2013-11-14 23:26] MAXimall opened #29 "error with Category"
not recorded general categories from settings and category for a specific file

[2013-11-17 20:28] #29 closed, assigned to yarl

[2013-12-26 15:42] HonzaG opened #30 "Angle in GPS"
GPS coordinations are given into Location template, which includes angle field, which is necessary to correct identification of the place in the picture. It would be nice to add this option to  Vicuňa.

[2014-01-31 10:10] PetrReischig opened #31 "Open session function truncates descriptions which contain wiki links"
If I save session with file descriptions that use links to wiki pages like
... text ... [[:en:Aspergillus fumigatus|Kropidlák]] ... text...
and then try to open the session file later, it does not load full descriptions. The descriptions are cut after second appearance of ]] and even strangely the continuation of description for first image is used as description for second image, again truncated

[2014-03-20 18:46] siebrand opened #32 "No recent build on http://yarl.github.io/vicuna/"
There is no recent build on http://yarl.github.io/vicuna/. This also means that the latest localisation are not being made available to potential users.

[2014-04-10 20:51] aklapper opened #33 "File ending/extension capitalization changed when re-uploading; accidentially created new image file"
Forwarding from [Commons](https://commons.wikimedia.org/w/index.php?title=Commons:Forum&oldid=121097538#Schlimmer_Bug_im_Vicu.C3.B1aUploader).

Atamari uploaded some files as `File:xy.JPG` (capital file extension; example: `File:Axxis Wuppertal 2014-03-26 001.JPG`). After editing the images in the local folder the user wanted to re-upload the edited image files, but VicuñaUploader changed the file

[2014-06-23 08:13] nicolas-raoul opened #34 "Ant build does not result in the same jar as distributed"
1. Download latest vicuna source code
2. Run `ant jar`
3. Run `java -jar dist/vicuna.jar`
4. Result: Crash `Exception in thread "main" java.lang.NoClassDefFoundError: com/thoughtworks/xstream/io/HierarchicalStreamDriver`

Running `java -jar /tmp/vicuna.jar` (downloaded from http://yarl.github.io/vicuna/) works.

The vicuna.jar built from source code contains much less classes than the distributed

[2014-10-04 18:26] Ironholds opened #35 "Nondistinct user agent"
Our API etiquette requires, at a very minimum, either a contact address of a URL to the software's project page.

[2014-10-07 09:34] xkomczax opened #36 "CC-BY-SA-4.0 licence"
Is it possible to add CC-BY-SA-4.0 licence to the default list? Or let users to specify author when using CC-BY-SA-4.0 (this option is not editable and usable when "other" licence is selected)?

[2015-02-04 00:31] inkhey opened #38 "easy upload for derivative works ?"
Hello all.
I've just discovered this project.
It seems to be very cool and i wanted to know if it could be adjusted to help me for uploading large number of wikivoyage banner.
Wikivoyage is a project who [need lot of derivative works of wikimédia commons content to have lots of banner](https://en.wikivoyage.org/wiki/Wikivoyage:Banner_Expedition) .

I personnally [create more than 1.000 banners for

[2015-02-06 11:35] yarl commented on #38
Sounds interesting, maybe it will be added in future.

[2015-03-20 12:56] yarl commented on #36
You can always write `{{cc-by-sa-4.0|Author Name}}`, that's basically how author field works. But still, 4.0 licenses needs to be edded.

[2015-03-20 15:09] yarl commented on #21
This is [already done](https://commons.wikimedia.org/wiki/Commons_talk:Vicu%C3%B1aUploader/Archive_1#Suggested_feature), but needs proper documentation.

[2015-03-20 21:09] #34 closed

[2015-03-20 21:51] yarl commented on #34
I've [added information](https://github.com/yarl/vicuna/blob/master/README.md#building) about custom build target. Sorry for big delay on this.

[2015-03-21 00:21] yarl commented on #25
Looks we are done with this.

[2015-03-21 00:21] #25 closed

[2015-03-21 00:37] yarl commented on #32
I'm finally back info vicuna after long time, updates should be regular now.

[2015-03-21 11:47] yarl opened #39 "Add support of PDF files"
Per [request](https://commons.wikimedia.org/w/index.php?title=Commons_talk:Vicu%C3%B1aUploader&oldid=137642218#Vicuna_and_PDF_documents) by Jarekt.

[2015-03-21 17:54] #39 closed

[2015-03-22 21:06] xkomczax commented on #36
Thanks for comment.

The issue is that once I am using "Other" licence field, the "Attribution" field is not usable (e.g. I want to use {{User:my-commons-nickname/author}}, not just simply my name)

[2015-03-23 09:22] yarl commented on #36
OK, so you are talking about `|author = [[user:...|...]]` in `{{Information}}` template?

[2015-03-23 09:44] xkomczax commented on #36
Exactly! :-) An example can be found here: https://commons.wikimedia.org/wiki/File:Star%C3%A1_Amat%C3%A9rsk%C3%A1_jeskyn%C4%9B_-_B%C3%ADl%C3%A1_voda_v_Povod%C5%88ov%C3%A9_chodb%C4%9B.jpg

[2015-03-23 11:33] yarl commented on #36
OK, to this is the other issue. You can use [custom description](https://github.com/yarl/vicuna/wiki/Custom-description) to do this.

[2015-03-24 14:35] yarl commented on #21
Done, see [article on wiki](https://github.com/yarl/vicuna/wiki/Custom-description).

[2015-03-24 14:35] #21 closed

[2015-03-26 19:46] #35 closed

[2015-03-28 21:33] #32 closed

[2015-03-30 18:25] xkomczax commented on #36
Oh, OK, I thought the Author field can be changed in GUI through "Attribution" field (e.g. by writing here {{User:Xkomczax/author}} ) , because this option works in Commonist, Vicunas ascendant  (and that there is some interconnection with licence as it lies right down of it).

[2015-03-31 12:45] xkomczax commented on #36
Now I tried to change the settings and when I choose "Other" licence, the "Attribution" field is undietable. By choosing some other, for example CC-BY-SA 3.0 licence I can edit the "Attribution" field (two screenshots are attached)
![cc-by-sa-3 0](https://cloud.githubusercontent.com/assets/3698242/6919102/76435e7a-d7b4-11e4-90f0-47fc45bd2e68.png)
![other](https://cloud.githubusercontent.com/assets

[2015-04-30 08:25] nicolas-raoul opened #40 "Option to disable getCurrentDatabaseLag check?"
Thanks for this great software!

I use it over a costly mobile connection. It usually takes me days to categorize all of my pictures (a bit every evening).
I noticed that Vicuna sends [requests](https://commons.wikimedia.org/w/api.php?maxlag=5&format=xml&action=query&meta=siteinfo&siprop=dbrepllag) all day long, even before I log in.
It makes me worry for my mobile connection, and for the Wikimedi

[2015-04-30 08:39] yarl commented on #40
Yes, good point.

[2015-05-03 02:37] saper commented on #40
I have implemented this feature in https://github.com/yarl/vicuna/pull/41. Feel free to test!

[2015-05-04 11:22] saper commented on #32
Ok, but now `dist` directory is versioned by git and during development `vicuna.jar` gets overwritten every time... What about using [GitHub release binary feature](https://github.com/blog/1547-release-your-software) to post read-to-use .zips?

[2015-05-05 11:20] saper commented on #38
@inkhey how would you like to provide metadata? URL of the original page? Or maybe small file downloaded with each original picture that could be uploaded to provide description for the new one?

[2015-05-05 12:31] nicolas-raoul commented on #38
I am also a Wikivoyage banner editor with the same need.
I can not speak for inkhey, but here is what I think would be the most convenient:

1. User downloads http://commons.wikimedia.org/wiki/File:Paris.jpg
2. User edits the file locally
3. Repeating step 1 and 2, the user downloads and edits 99 other files the same way.
4. User opens Vicuna, and selects the 100 files for upload.
5. Vicuna finds

[2015-05-09 19:50] inkhey commented on #38
I really like the idea of nicolas-raoul, really easy and efficient for banner upload.

I think also, to support all case of derivative content, a "manual" way (like a button) to do it, may also be added if you have already named your file "Paris_derivative.jpg" and just want associate  this one as a derivate of "Paris.jpg" (who already exist in commons).

[2015-05-10 17:11] #40 closed

[2015-05-11 01:41] nicolas-raoul commented on #40
Wonderful, thanks! :-D

[2015-05-18 20:45] saper commented on #31
I have tried this - adding some link in the  preferences as well as for a particular file. Now I my wikitext is the same as it was before saving the session:

[code]

So it looks to me this has been fixed!

[2015-05-18 21:53] saper opened #46 "Settings imported from the session vs. default settings"
Loading a session overrides all program defaults. This can be what is expected, but can
also be confusing:

1. Disable server connection monitoring (database lag)
2. Open old session file
3. Connection monitoring will be enabled again if this was set in the session file

[2015-05-18 21:56] saper commented on #36
Implementation note: in the settings we store just the ID of the license (number on the list).
This needs to be more meaningful (future-proof). Otherwise after upgrade user's choice may be silently changed: in 1.21 "0" is CC-BY-SA 3.0, if we add CC-BY-SA 4.0 as the first choice it will be the default for all CC-BY-SA 3.0 users!

[2015-05-19 03:30] nicolas-raoul opened #48 "Grey out files that are already on Commons"
I often don't remember what files I have already uploaded.
So I spend a lot of time writing descriptions, and finding categories, for nothing.

It would be great if Vicuna could grey out files that have already been uploaded, so that I don't waste time filling their metadata.

Ideally it would calculate the checksum of the file and check against a database of all Commons files ([if that exists](ht

[2015-05-19 06:36] nicolas-raoul opened #49 "Japanese characters showing as tofu in description"
![vicuna](https://cloud.githubusercontent.com/assets/99590/7696834/40cf6c12-fe3c-11e4-903d-3e3d7e593ca8.png)

The squares should show: `桜食堂`

For some reason the "Name" and "Categories" fields do not have this problem.
Ubuntu 2014.04

Not a big problem, but worth fixing if easy :-)

[2015-05-19 07:21] yarl commented on #36
Yes, it needs breaking change.

[2015-05-19 07:32] saper commented on #48
I have an idea how to deal with this. We actually need a sync process to compare Commons (or the target wiki) with the sessions/projects/images stored locally and inform the user about what has changed, what is already on Commons, what got deleted, renamed, and so on.

Bigger project, maybe we could even fit this into Vicuńa one day :)

[2015-05-19 07:34] saper commented on #36
I have an idea how to fix this in a relatively non-intrusive way. What do you think about introducing some simple versioning of the session.xml/settings.xml format?

[2015-05-19 12:38] #49 closed

[2015-05-19 12:41] nicolas-raoul commented on #49
You're so fast! Thanks a lot :-)

[2015-05-19 16:20] saper commented on #8
Can you check again if this problem persists? It looks to me as a problem in the underlying graphical interface, not sure we can fix thus. Which operating system/windowing system is this?

[2015-05-19 23:44] saper opened #50 "default directory is determined by the last open image file (almost) forever"
The default directory is determined by the last open image file. It then gets saved into session and the main settings file. As in #46, my session default directory got set to the parent of my home and I could not force vicuna to change it, except doing the following:

- open vicuńa
- open session.xml
- open some file in the directory I want to be current
- delete that file
- save session.xml

[2015-05-26 02:30] nicolas-raoul commented on #48
I have not yet found a repository of Commons checksums.

I have found this repository which might be used, although it does not find *exact* images, it finds *extremely similar* images:
http://commonsmachinery.se/2014/09/digital-image-matching-part-2-finding-similar-hashes/

[2015-06-09 14:40] osmvermesser opened #54 "three new wishes - address / session save / georef with viewpoint and orientation"
hi !

very nice too, but i have three wishes:

1.) search place (villages) easier by input adress - look http://wiki.openstreetmap.org/wiki/Nominatim

2.) when save named session and you click save again every time the session-file is to define - better: save as / save....

3.) in the map (so i know) only a place can define - i would like to define interactiv the camera-place and the orientation o

[2015-06-09 21:54] saper commented on #54
Thank you for throwing in some ideas for improvement. Regarding point 3) can you point me to some images which have camera position, destination position and direction defined and embedded as their metadata?

[2015-07-14 17:56] osmvermesser opened #55 "xml-File did not save geocoord"
hi !

it would be nice if the geocoord will save in inte session-xml-File!

reagards Jan

[2015-07-29 12:19] eldur opened #58 "Replace JMapViewer in FAbout.form with jxmapviewer2"
... sorry I've not installed your IDE to fix this

[2015-07-29 17:21] saper commented on #58
IDE is not required,
I am using vi.

[2015-07-29 17:27] eldur commented on #58
okay I assumed the the *.form files are transformed by netbeans to java files.

I'll offer to send a pull request first, that deletes all redundant *.form files first - okay?

[2015-07-29 18:25] saper commented on #58
Well, no - .form files are needed for round-tripping with Matisse, NetBeans form editor. I've never had trouble editing them by hand. In the respective .java files generated sections are marked with comments. This limits us in some ways, but let's keep it as long as it's feasible.

[2015-09-09 15:15] osmvermesser opened #59 "Bug: specialcharacter defect !"
i define the default categorie "Lübeck" - with the special-character "ü".

then i save to xml-file and open by notepadd++ to search and replace. notepadd++ show UTF8 without BOM.

after edit some words, save and reopen in vicuna - now when look into options the special-character will demage !!! �

regards Jan

[2015-09-13 08:22] wiktorn opened #60 "Use of locale specific decimal separator when creating {Location dec}"
I'm using built from source repository version of Vicuna. When I upload photos with geolocation - Vicuna uses locale specific decimal separator instead of dot (regardless of locale).

[2015-10-11 18:05] dvdgmz opened #62 "multi-author"
Hi, Vicuña seems great. I'll use it to upload heritage photos, after negotiating the liberation with its authors.
One thing that would be useful is to put more than one author.
Maybe it is there but I can't find an option to do that in Vicuña.
It is possible to put a field for "author" in the picture form?
Thanks!

[2015-11-01 19:14] JudsonMcC opened #63 "Select all, and suggestions"
"Select all" doesn't do what it is supposed to do.  Also, all of the files should be selected by default.

Some requests:
1. Remember the last-used folder for uploads
2. Remember login password

[2015-11-17 16:34] Eeim opened #64 "Duplicate prevention"
I believe that commons uploading tools should detect duplicates of existing files and at least warn before accepting to upload such files.

Maybe useful:
Exact duplicates are already automatically detected on Commons and get listed here:
https://commons.wikimedia.org/wiki/Special:ListDuplicatedFiles
I don't know if there's already the possibility to query Commons with a file hash..?

Such features

[2015-11-23 21:34] rwiermer opened #65 "Display wikitext loaded from external file in the overview"
At the moment, it is not clear from the main view whether the uploaded text is generated from the GUI input or from an external file.
Display should either grey out the input fields if they are not used, or display an info text instead, e.g. "Content from my_external_description.txt: ...."

[2015-11-23 21:47] rwiermer opened #66 "Add option to use external script to generate wikitext"
This is useful for mass uploading data which already has external metadata (e.g. cultural heritage institutions) or there are custom template requirements.

Configuration:
Extra option for  `Settings` -> `Program` -> `External program`
String for command should include variables for the file name and full path
e.g.
`my_wikitext_generator.sh %FILENAME% %FILEPATH%`

[2015-11-24 10:48] mrjohnc opened #67 "Easy import of external excel file to populate fields"
I'm not sure how to explain this technically, this tool would be very very useful to mass upload content from organisations with large quantities of content if it was easier to mass import filenames, filenames on Commons, description, categories, licenses etc from an excel sheet.

I have feeling this may be possible already by converting the excel sheet to xml and using it as a save file but I can

[2015-11-24 13:33] rwiermer commented on #67
We had the same problem and idea at a Wiki commons workshop last weekend as we wanted to upload a collection of culture heritage objects with existing metadata.
It is possible and straightforward to generate the session-save file by script. The problem is that you are then limited to the fields that are already predefined in the GUI, so no real custom templating (e.g. use of template "artwork" ins

[2015-12-01 21:01] #59 closed

[2015-12-05 20:52] #58 closed

[2015-12-05 22:08] #23 closed

[2015-12-05 23:00] #60 closed

[2016-01-08 09:18] osmvermesser commented on #55
bug is even existing in 1.22!

[2016-01-08 09:18] #55 closed

[2016-01-24 19:58] yarl commented on #13
[Old tickets cleaning]

I think for now [custom description mechanism](https://github.com/yarl/vicuna/wiki/Custom-description) is enough for fancy upload.

[2016-01-24 19:58] #13 closed

[2016-01-24 20:00] yarl commented on #8
This is probably unfixable for us.

[2016-01-24 20:00] #8 closed

[2016-01-24 20:04] yarl commented on #15
[Old tickets cleaning]

Function is always available from top menu. I don't know how to reproduce it, so I'm closing it for now.

[2016-01-24 20:04] #15 closed

[2016-01-28 15:58] siebrand opened #72 "Please add commit access for @nikerabbit"
To increase continuity of localisation updates, please also allow @Nikerabbit of translatewiki.net commit access.

[2016-01-28 19:07] yarl commented on #72
:white_check_mark: added as project collaborator

[2016-01-28 19:07] #72 closed

[2016-03-16 15:30] nicolas-raoul commented on #48
Commons has an API that can easily tell you whether a file is present on Commons already or not.

Just send the checksum via an HTTP request, and receive the result: present or not.

Details: http://opendata.stackexchange.com/a/7314/754

[2016-03-16 15:38] nicolas-raoul opened #76 "Suggest nearby categories based on EXIF latitude/longitude"
[The Android app](https://play.google.com/store/apps/details?id=fr.free.nrw.commons) suggests categories based on the location embedded in the picture.

It would be great if Vicuna could do this too.

Here are all the needed technical details about the API to use: https://github.com/nicolas-raoul/apps-android-commons/wiki/Category-suggestions-%28readme%29

[2016-03-24 20:45] #36 closed

[2016-04-03 16:53] Perhelion commented on #64
+1 I mean this is a strong fault, because this is bad bypassing of warnings and precautions of Wikimedia. I tested it because someone has uploaded around 800 duplicates at once, and nobody was willing to find and delete them (I reported it on https://commons.wikimedia.org/wiki/Commons:Bots/Work_requests).

[2016-05-16 10:44] nicolas-raoul opened #77 "Vicuña freezes when selecting a folder"
1. Launch VicuñaUploader from Ubuntu 2015.10
2. Click "Read files"
3. Click on anything in the "Folders" area of the dialog that appears
4. Freeze. Nothing reacts to clicks/keyboard. The only solution is to kill Vicuña.

This makes the program unusable. Nothing in the log:

[code]

Reproduced with Vicuña 1.20 and 1.23

[2016-05-16 10:51] nicolas-raoul opened #78 "NullPointerException after pasting a folder path in selection dialog and pressing OK"
1. Launch VicuñaUploader 1.23 from Ubuntu 2015.10
2. Click "Read files"
3. Paste the local path to your files inside the "Selection" field
4. Click "OK"
5. A "Loading" dialog appears but never progresses. Screenshot and log:

![Vicuña](https://cloud.githubusercontent.com/assets/99590/15287656/5a766504-1b9f-11e6-81e2-8e8cb0a66226.png)

[code]

Workaround: Use Vicuña 1.20, the latest version that do

[2016-05-16 11:13] nicolas-raoul commented on #78
I just built from latest Git (83e8772dc7ef7916349812b65f59a421cab7ecfa), and the problem is solved apparently, great, thanks :-)

[2016-05-16 11:13] #78 closed

[2016-05-16 11:25] nicolas-raoul opened #79 "Pictures listed in seemingly random order"
When I load a directory of pictures, the files are not loaded in alphanumerical order, nor in modification date order, but seemingly in a random order:
![vicuna-order](https://cloud.githubusercontent.com/assets/99590/15288197/b4436b0a-1ba3-11e6-959d-2041f2ee01db.png)

As you can see, the order is random:

`DSCF9338.JPG DSCF9280.JPG DSCF9263.JPG DSCF9281.JPG DSCF9333.JPG`

It prevents me from copyi

[2016-05-16 11:31] nicolas-raoul opened #80 "Default directory setting not usable (because of HDPI?)"
Settings > Program > Loading > Default directory

![vicuna-settings](https://cloud.githubusercontent.com/assets/99590/15288336/f02d65d4-1ba4-11e6-82e9-440e5e8c4c28.png)

Ubuntu 2015.10 with HDPI screen, Vicuña compiled from latest Git 83e8772dc7ef7916349812b65f59a421cab7ecfa

[2016-05-16 13:21] nicolas-raoul opened #82 ""Edit > Invert selection" does nothing"
It does not invert the selection.

Workaround: Pressing `CTRL+i` on the keyboard works.

Same problem with "Select all".

Ubuntu 2015.10 with lastest Vicuna Git.

[2016-05-18 09:55] mathieumd opened #83 ""The BROWSE action is not supported on the current platform!""
When clicking on "Open in browser" from a category, nothing happens. The console shows:
[code]

I use VicunaUploader 1.23, on Debian Testing Stretch, with Java OpenJDK 8 (by the way, OpenJDK 9 fails to start Vicuna. I will open another bug report for this)

[2016-05-18 09:57] nicolas-raoul opened #84 "Session does not save "select/deselect file to upload" information"
1. Open a hundred pictures
2. Select which ones to upload
3. Let's say you need to switch off the computer because battery dies, so save to session
4. Open saved session
5. PROBLEM: The hundred pictures are all unselected for upload. Need to select again.

[2016-05-18 10:00] mathieumd opened #85 "OpenJDK 9.0 fails to launch vicuna.jar"
When trying to start Vicuna with OpenJDK, only the version 8 (8u91-b14-2) works. The version 9 (9~b80-2) fails with this message:

[code]

PS: "Abandon" means "Abort" in French

[2016-05-18 10:01] nicolas-raoul commented on #77
Same freeze with the "Files" component of the "open session" dialog.
Workaround: type the name of the session file instead of clicking it.

[2016-05-18 18:41] saper commented on #85
Can you publish hs_err.log?

[2016-05-18 18:43] saper commented on #83
Thus is not a bug, java cannot find out how to launch a web browser in your environment.

[2016-05-19 20:44] mathieumd commented on #85
[hs_err_pid1239.log.txt](https://github.com/yarl/vicuna/files/273434/hs_err_pid1239.log.txt)

[2016-05-19 21:18] saper commented on #85
It looks like that your freetype library has some serious trouble reading one of the font files. This is probably not related to Vicuña or even Java. Maybe JDK9 does something a bit different there that leads to such a failure. You may try upgrading your freetype library first.

[2016-05-28 08:31] zibik opened #86 "Version 1.23 doesn't work under Linux"
`java -jar vicuna-1.23/vicuna.jar
maj 28, 2016 10:38:38 AM Wiki namespace
INFO: Fetching URL https://commons.wikimedia.org/w/api.php?maxlag=5&format=xml&action=query&meta=siteinfo&siprop=namespaces
maj 28, 2016 10:38:39 AM Wiki namespace
INFO: [commons.wikimedia.org] Successfully retrieved namespace list (39 namespaces)
maj 28, 2016 10:38:39 AM Wiki getPageText
INFO: Fetching URL https://commons.w

[2016-05-28 19:09] saper commented on #86
@Zibik how does your configuration file look like?

[2016-05-30 20:47] mathieumd commented on #86
@zibik, v1.23 do work well on my Debian with OpenJDK  8. (But it does crash with OpenJDK 9, cf. #85)

You may try to install the package **jmapviewer**, maybe.

[2016-05-31 06:53] mathieumd opened #87 "Wishlist: Read EXIF meta-data"
It would be quicker to upload photos to Commons if Vicuña could read and prepopulate the Description and Categories fields according to EXIF meta-data:
- Desc could be retrieved from **Image Description** field (or **Description**, **User Comment**, **Notes**, **Caption-Abstract** or **Comment**);
- Categories could be set from **Subject** or **Keywords**.

This would allow us to sort, organize an

[2016-05-31 07:02] mathieumd commented on #85
Do you have any suggestion to upgrade my freetype libary? My `libfreetype6` packages are the latests [offered by Debian Testing](https://packages.debian.org/stretch/libfreetype6): `2.6.3-3+b1`.
I also tried to install the package `libisfreetype-java`, but it didn't help.

[2016-05-31 07:09] mathieumd commented on #83
Do you know if there is any way to let Java know how to launch my browser?

An old (2008) [discussion on StackOverflow](http://stackoverflow.com/questions/248534/open-browser-window-from-java-program) seems to suggest to use [BrowserLauncher2](http://browserlaunch2.sourceforge.net/) in the code.

[2016-05-31 18:29] saper commented on #85
@mathieumd I'd suggested to open the issue with the Debian maintainers. Make sure to include the debug output you have posted here.

[2016-05-31 18:37] mathieumd commented on #85
I got `openjdk-9-jre` it installed before using only Testing packages, and it was [from experimental](https://packages.debian.org/experimental/openjdk-9-jre), so nothing to worry about here. Sorry for the trouble!

[2016-05-31 18:37] #85 closed

[2016-06-08 13:39] mathieumd opened #88 "Settings for User Gallery page"
Currently, we can only configure the width of thumbnails in the User Gallery page (`<gallery widths=200>`). It would be nice if we could manually set it to something more complex, like `<gallery mode="packed-hover" heights="300px">`.

[2016-06-22 08:33] jeuwre opened #89 "no login"
Hi,
I'm using VicuñaUploader 1.23 with Linux the first time trying to upload a bunch of 1,600 .oggs to commons at one go.
O.k. at first I tried to test with only 2 files. All looked fine, especially after manipulating the session.xml with command line tools/bash I was in pleasant anticipation to do the last (upload-)step.
But at first the choosing of the 2 files together (STRG + Shift + A) didn't

[2016-06-22 08:54] jeuwre commented on #89
Supplement:
I have to add, that it's only the menu item, that do not work. The upload-button downright works.
jeuwre

[2016-06-22 08:54] #89 closed

[2016-07-11 13:44] nicolas-raoul commented on #64
Isn't this issue a duplicate of https://github.com/yarl/vicuna/issues/48 ?
Cheers :-)

[2016-07-21 22:56] moschris opened #90 "Can't use settings on a Mac"
On a Mac OS-X 10.11.5 the settings window appears as in the attachment.

![vicuna-settings-window](https://cloud.githubusercontent.com/assets/11925014/17041481/3702fb0e-4f9e-11e6-9ed0-54c1373b6c4b.png)

Because the Save button isn't visible any information entered into this window isn't saved.
The other windows (File, Gallery, Program) are also unusable.

[2016-07-25 12:27] frindsbury commented on #87
There is a related issue: writing information onto the exif. After I geotag a photo- that information is uploaded to commons, but not to the local file which remains the personal backup.
With a little thought (I haven't researched it ) I suppose that I could strip Categories- and add them to the local file as a keyword.

[2016-07-25 12:47] frindsbury opened #91 "OpenStreetMap integration"
When doing a Commonist upload I have three instances of OpenStreetMap open-

- https://www.openstreetmap.org/directions?from=51.54118%2C-0.14598#map=18/51.54118/-0.14358 which allows me to get a csv geotag from the map.
- https://tools.wmflabs.org/wiwosm/osm-on-ol/commons-on-osm.php?zoom=17&lat=51.54121&lon=-0.14268&layers=B00TFT which allows me to see Commons roundels indicating existing images
-

[2016-07-25 13:55] frindsbury opened #92 "Retention of geotag when session is saved"
This appears not to be saved
Here is the xml of two items in a seven item list. Both had a geotag- but neither were saved!

</settings><list>
  <map>
    <cats>Regent&apos;s Canal in the London Borough of Camden</cats>
    <desc>The {{w|Regent&apos;s Canal}}.{{w|Hampstead Road Locks}} or Camden Locks from Camden High Street  Kentish Town Road A502 bridge .</desc>
    <name>Regent&apos;s Canal 1500

[2016-07-25 13:56] frindsbury commented on #92
Sorry the text editor has stripped the xml code.

[2016-07-25 14:00] frindsbury commented on #92
[code]
Thats what it should look like!

[2016-07-27 10:39] nemobis opened #93 "Exception in Ubuntu when selecting or dragging files"
Found in Ubuntu 14.04: when I click "read files" and select some files I want to upload, the dialog "Uploading: 1/X files" appears but never proceeds. In Ubuntu 15.10 the dialog just freezes at some point (might be the same as https://github.com/yarl/vicuna/issues/77 ). IN both cases there is an exception:

[code]

Ubuntu 15.10:

[code]

[2016-07-27 16:52] ElGrafo commented on #86
Same problem for me on Linux Mint 17.

`$ java -version
java version "1.7.0_101"
OpenJDK Runtime Environment (IcedTea 2.6.6) (7u101-2.6.6-0ubuntu0.14.04.1)
OpenJDK 64-Bit Server VM (build 24.95-b01, mixed mode)`

jmapviewer is installed.

I noticed I had 2 files called "settings.vicuna": one in ~/vicuna/ (where the vicuna.jar is located) and one in ~/ The first one might be something I put there w

[2016-07-27 17:03] ElGrafo commented on #93
I get a very similar looking error message on Linux Mint 17 when trying to load a file into Vicuna 1.23 (File → Read files). The "Loading" window/bar appears but then nothing happens.

[code]

[2016-07-27 17:15] ElGrafo commented on #38
I would very much welcome anything in that direction, as DerivativeFX is dearly missed by many. Regarding nicolas-raouls idea: keep in mind that a derivative work can consist of several source images (think of collages/montages). It would need to have the possibility for the user to say "This is a derivative work, and it is derived from these files already available at Commons". Ideally, it would

[2016-08-24 12:21] freddy2001 commented on #93
Running as root `sudo java -jar vicuna.jar` has worked for me on Ubuntu 16.04 LTS

[2016-08-24 21:19] saper commented on #93
Unreleased git master code will not crash like this; but additional protection has been added in https://github.com/yarl/vicuna/pull/94

[2016-10-02 18:34] JSMC opened #95 "Problem uploading more than a few files"
I have a problem with uploading more than a few files with Vicuna 1.23.  I haven't had this problem before.  I'm uploading 24-megapixel JPEGs, so they are 10-15 MB each.  I can upload up to about 7 of them, but I used to be able to upload dozens at a time.  I selected 12 files to upload, and it gives the size of the first one (10.93MB) but it doesn't show the thumbnail.  The rest of them just say

[2016-10-03 17:14] mathieumd commented on #91
A very nice tool is [Geolocator](http://tools.freeside.sk/geolocator/geolocator.html), which allow –among many other features– to set the `|heading:` attribute.

Regarding Bing, I'm really not a Microsoft-fanboy me too, but they [allowed Bing to be used](https://blog.openstreetmap.org/2010/11/30/microsoft-imagery-details/) as a map background in order to create data for OpenStreetMap, and this is

[2016-10-04 19:22] mathieumd commented on #87
Using the [template method](https://commons.wikimedia.org/wiki/Commons:ComeOn!#Templates) used by _ComeOn!_ could be an idea:

[code]
(from [comeon-templates/velocity/information.vm](https://github.com/edouardhue/comeon-templates/blob/master/velocity/information.vm))

@frindsbury: Your idea is excellent, but I think it should have its own dedicated issue to be more visible.

[2016-10-19 14:06] freddy2001 opened #96 "Button 'Edit' is grayed out after loading a saved session"
The 'Edit' - Button is grayed out after loading a saved xml session.
Everything else works fine - except all options in that menu.
For this issue i found a workaround: Open Vicuna, load an image in it and then load the saved session - the 'Edit' menu works fine.

[2017-01-08 19:40] FlominatorTM opened #97 "Opening folders doesn't work, drag and drop does"
When I try to open a folder or a picture with the browse dialog I get this exception:

![awt queue](https://cloud.githubusercontent.com/assets/12448283/21752957/582819ca-d5e2-11e6-9de8-4dc96113e281.png)

Environment is XP and JRE 1.7.1_71 (so I'm prepared for "your platform is not supported" :) )

Except that the tools very powerful and or sure even more helpful then Commonist

[2017-01-15 18:21] FlominatorTM opened #98 "use [Iptc] Caption/Abstract to populate description"
There is Iptc field "Caption/Abstract" in which some people put in descriptions of their pictures. It would be pretty cool, if Vicuna would be able to (optionally?) use this data in the description field.

[2017-01-20 13:01] Perhelion opened #99 "Limited naming"
I mean this is an bug. It seems the keyword <code>%NAME%</code> is only used for counter naming, which is fully unexpectedly.[https://commons.wikimedia.org/w/index.php?title=User:Perhelion/gallery_OOjs_UI&diff=230369827&oldid=230367423] So the usage of this function is very limited (I've to usage another naming tool). It should be a trivial matter to fix this.

[2017-01-20 14:15] Perhelion opened #100 "No button for save settings"
There is no button anymore on the settings window. I deleted also `settings.vicuna` without success. I use Windows 7 x64. s.a. https://commons.wikimedia.org/wiki/Commons_talk:Vicu%C3%B1aUploader#Settings_window_not_display

[2017-01-20 14:41] Perhelion commented on #100
I found the reason (and a workaround: Backtab). The input fields get too long and the button get out of the window size!?!!

[2017-01-26 21:01] jayantanth opened #101 "Stuck at Loading file"
![screenshot from 2017-01-27 02-29-52](https://cloud.githubusercontent.com/assets/1370149/22350103/948e657c-e438-11e6-82fe-c91738ce607b.png)

Using Ubuntu 16,adding  100MB+ pdf file abour 10 nos file.

[2017-02-25 12:48] Aschroet commented on #93
Still having this issue. But i am glad that the workaround with sudo works. However, this is not optimal.

[2017-03-05 00:28] Silubr commented on #101
I can confirm that this happens with any file I’ve tried (even single, few kB ones) and with Oracle Java 9, Oracle Java 8 as well as OpenJDK 8. The last version of Vicuna to work on Ubuntu Xenial appears to be 1.20. Rgds

[2017-03-05 00:42] Silubr commented on #101
Correction: current version also seems to work if built from git (should have tried that before). This might also work for @jayantanth

[2017-03-26 18:07] FlominatorTM commented on #98
After looking at the format Vicuna saves a session with, it might also be a workaround to create a small separate tool that maps existing files to entries in the session.xml and inserts the description by manually reading Iptc data.

But before I start developing such thing, I would like to know, how are the changes of you integrating your own solution in Vicuna?

[2017-04-01 08:02] FlominatorTM commented on #98
I couldn't help myself: https://github.com/FlominatorTM/iptc_to_vicuna

[2017-04-01 11:44] yarl commented on #98
Great. Sorry for no response, there is big stagnation from my end on this project...

[2017-04-01 14:25] FlominatorTM commented on #98
Pull request available on https://github.com/yarl/vicuna/pull/102

[2017-04-21 20:21] distriker commented on #101
It happens to me in Debian 8.6 Jessie, with any file, single or not, small or heavy.

[2017-04-22 14:42] FlominatorTM opened #103 "Link to uploaded picture"
What about adding a link to the uploaded picture within the UI, for example when clicking the green check mark?

![upload_link](https://cloud.githubusercontent.com/assets/12448283/25305384/8ce6c6c2-277a-11e7-8093-fa196de4123b.png)

[2017-04-25 18:53] FlominatorTM commented on #101
Does it work when you deactivate the option "load from subdirectories"?

If yes, it might have the same origin as #97

[2017-04-25 19:20] FlominatorTM commented on #91
Sames goes for [GeoSetter](http://www.geosetter.de) which will write coordinates in your EXIF data.

[2017-04-25 19:22] FlominatorTM commented on #87
https://github.com/yarl/vicuna/issues/98 is related to this, even if it used IPTC data

[2017-04-26 15:17] distriker commented on #101
Hi @FlominatorTM!
I had deactivated the option "load from subdirectories". I activated to test, and it happens again.

Regards

[2017-05-01 09:33] mathieumd opened #105 "Cannot add images if disabling "loading files from sub-folders""
When I disable the option "loading files from sub-folders" (from the Program tab in Parameters settings), I cannot add files anymore. The error, only shown when Vicuna has been launched from console, is:

[code]

Which seems to looks like #83, but I'm not very fluent in Java exceptions ;)

I'm running Vicuna 1.23 on Debian 9.0 Stretch with Java OpenJDK 8u121-b13-4.1. (OpenJDK 9 fails to start Vicu

[2017-05-21 08:50] siebrand opened #106 "Please change access rights for localisation"
You can remove access for the following users:
- @siebrand
- @Nikerabbit

Please add access for:
- @translatewiki

[2017-05-21 20:48] #106 closed

[2017-07-03 17:24] marcpayne commented on #101
I also have this issue. When I start it from the command line, I see the following error:

[code]

I selected a single OGG file to upload for testing purposes when this error occurred.

[2017-07-03 19:17] FlominatorTM commented on #101
@marcpayne Does it work with JPEG files for you?

[2017-07-03 19:23] marcpayne commented on #101
No, I get the same error and same behavior with JPEG files. I should also note that it works fine if I build from source.

[2017-07-16 14:01] merkato opened #107 "Exception in thread Server monitor"
lip 16, 2017 3:52:07 PM Wiki getCurrentDatabaseLag
INFO: Fetching URL https://commons.wikimedia.org/w/api.php?maxlag=5&format=xml&action=query&meta=siteinfo&siprop=dbrepllag
Exception in thread "Server monitor (database lag)" java.lang.UnknownError: MW API error. Server response was: <?xml version="1.0"?><api servedby="mw1285"><error code="maxlag" info="Waiting for 10.64.0.87: 5.9668750762939 seco

[2017-07-17 23:27] saper commented on #107
Looks like the Commons server got lagged..

[2017-09-03 17:54] FlominatorTM opened #108 "UI problems when entering some longer category names"
When you enter some categories with longer names the window is not big enough to show preview window and save button:

![image5104](https://user-images.githubusercontent.com/12448283/30005376-8254df98-90e1-11e7-802c-3c8d0121170f.jpg)

[2017-09-28 09:37] nicolas-raoul opened #109 "[Enhancement] "Copy description and categories to all below""
Sometimes I upload a series of very similar pictures, for instance all stamps of a particular stamp series.
In that case, all images share a lot of common categories.
After filling metadata for the first image, clicking "Copy description and categories from above" for every single file is time-wasting.

So, how about a button (maybe in the menu) to paste description and categories to all images be

[2017-10-12 05:10] Krzysiu commented on #109
You should choose files you want and apply whatever you want to selected files. Second icon from the right on the toolbar :)

[2017-10-12 05:29] Krzysiu opened #110 "Unknown coordinates format"
When I try to add coordinates, it won't parse neither OSM link (I've tried share URL and URL that shows in the browser bar), nor "xx.xxxxxxxxx, xx.xxxxxxxxx" (4 digit precision don't work as well, no space after comma neither). I managed to get it working - the format is xx.xxxxxxxxx;xx.xxxxxxxxx, i.e. semicolon, not comma.

[2017-10-19 09:03] nicolas-raoul commented on #109
Thanks that's great indeed!
For future readers: Please note that selection has nothing to do with the checkbox.

[2017-10-19 09:03] #109 closed

[2018-03-15 20:57] Aschroet opened #111 "permission = null"
On Commons i found more than 4k files that had "permission = null" and which were all uploaded by VicunaUploader. Example: https://commons.wikimedia.org/w/index.php?title=File:Pestmarterl_Ehenfeld-1065.jpg&oldid=184837134, resp. the uploads if this user: https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Ziegler175&ilshowall=1. For now I already cleaned the files. However, in my opi

[2018-05-04 06:51] Volodya opened #112 "Impossible to paste the password"
Of course, we should not use easy to remember passwords, and thus it's important to use tools like Keepass to store autogenerated passwords.

Currently it is impossible to paste the copied password to login.

[2018-05-13 19:27] reedy opened #113 "Support 2FA login"
I have 2FA enabled on my Wikimedia account. Which means I can't login using Vicuna anymore :(. Please can you support 2FA as part of the login process?

If you need help getting 2FA enabled on your account for testing purposes, I can gladly help out there

Thanks!

[2018-08-09 18:28] Ciantic opened #114 "Could you release 1.24? (change the version number in code)"
I've just found out you have fixed bugs since 1.23 was released, such as [longitude bug](https://commons.wikimedia.org/wiki/Commons_talk:Vicu%C3%B1aUploader#Geotag_bug.3F). However, getting that bug fix required recompiling from the source code.

Could you change the version number in the source code and release new version?

I know maintaining this is not your highest priority in life, but it's a

[2018-08-30 17:01] yarl commented on #114
Yeah, as you probably see, it's not. Sorry for that. I will try to catch up and do the release next week or so. We will see how it goes.

[2018-09-26 15:43] JoKalliauer opened #115 "Does not load Files Ubuntu"
VicuñaUploader 1.23
    Linux 4.15.0-34-generic amd64
    Java 1.8.0_181

Preperation
-Download the [File:VicunaUploader_logo.png](https://commons.wikimedia.org/wiki/File:VicunaUploader_logo.png) in [full resolution](https://upload.wikimedia.org/wikipedia/commons/0/0a/VicunaUploader_logo.png) (CC-BY-SA)
-Save it on the Desktop-Folder

Steps to reproduce:
-run `./start.bat`
-choose Desktop-Folder a

[2018-11-07 10:05] Aschroet opened #116 "Avoid unnecessary license header section"
It seems that vicuna still adds the license header section ("=={{int:license-header}}==") if the license is already part of permission parameter of the information template. This makes no sense. Example where i removed it: https://commons.wikimedia.org/w/index.php?title=&type=revision&diff=326869733&oldid=251872917

Could this be avoided?

[2018-11-22 08:46] olea opened #117 "Problem with fonts in high resolution display"
Hi:

Using Vicuña 1.23 in a Linux system with a 1920x1080 resolution. I use a default 12 font size + 1.25 magnification.

When launching Vicuña windows content get messed, probably related with system fonts sizes. I tried several runtimes with similar output:

java-1 8 0-oracle-1 8 0 181:

![vicuna-java-1 8 0-oracle-1 8 0 181](https://user-images.githubusercontent.com/141267/48890977-8e6fb700-ee3a

[2018-11-23 10:56] albore commented on #17
I am testing version 1.23 and there is no possibility to overwrite a file with a new version. Vicuna simply adds the new upload to the gallery (if the option is set), but without uploading anything.

[2018-11-26 12:06] #115 closed

[2018-12-16 03:58] Mistr81 opened #118 "Cannot log into VicuñaUploader 1.23"
On Windows 7 Home Premium, I can not log into VicuñaUploader 1.23. My login is "Jan Polák". Where is the problem? Thank you.

[2018-12-17 01:20] Mistr81 commented on #118
Now it's OK, It was necessary to change the password. Existing was too short.

[2018-12-17 07:12] Mistr81 commented on #118
Now it's OK, It was necessary to change the password. Existing was too short.

[2018-12-18 08:56] Aschroet opened #119 "Minor improvement"
Right clicking in the description field allows to add language templates in three languages. However, these templates should use a numbered parameter to avoid possible rendering problems, i. e. instead of "{{en|" it should have "{{en|1=".
I guess this can be changed in:

_Settings.java:_
 quickTemplates.add(new QuickTemplate(Data.text("file-wiki-en"), "{{en|%TEXT%}}", true));
...

[2018-12-19 02:32] satdeepgill opened #120 "Gurmukhi script not being rendered"
<img width="348" alt="vicuna uploader - punjabi rendering" src="https://user-images.githubusercontent.com/10414529/50195206-2098ab80-0364-11e9-9f24-0e34c8169183.PNG">

There is a rendering issue for Gurmukhi script in the tool. I tried with Devanagri (Hindi) and that works totally fine but I only see boxes in Gurmukhi.

[2019-05-03 20:50] Mistr81 opened #121 "Not loading GPS coordinates"
I have VicunaUploader 1.23.

When I describe photos, I add GPS coordinates to them. If I save the project, it also contains the coordinates you have entered. If I have the project reloaded, the coordinates will no longer be loaded. Please fix this problem. Thank you.

[2019-05-26 08:33] FlominatorTM commented on #118
Friend of mine had the same problem. Looks like at least the Wikimedia wikis meanwhile require eight characters. I don't know if there is a way to retrieve $wgMinimalPasswordLength via API or if it would be an idea to show a more precise error message when trying to log in with a shorter password? Else people might search forever ...

[2019-08-12 13:47] nemobis commented on #86
With
[code]
and `jmapviewer-1.03-8` I also get:

[code]

No vicuna.settings file is found anywhere.

[2019-08-12 14:10] nemobis commented on #86
Fixed by re-installing `java-1.8.0-openjdk`, while `dnf install java-openjdk-devel openjfx jmapviewer` may have been overkill.

[2019-08-30 20:47] JSMC opened #122 "Uploaded but didn't put them in my watch list or upload list"
I uploaded a group of 30 photos to Wikimedia Commons with Vicuna 1.23.  The process went very quickly, compared to the time it usually takes.  But only one of them (#5) showed up in my upload list and none of them were added to my watch list.  This, with the very short amount of time it took, it appeared to not have uploaded the photos.  I tried two more times, but nothing showed up in my upload l

[2019-09-04 08:44] dominikmatus commented on #121
In my case it does not even save the coordinates to the XML fine

[2019-09-04 08:45] dominikmatus commented on #100
This happened to me with latest version too. I had to go to the last tab and use the tabulator to get to that Save button.

[2021-01-08 12:04] berrely opened #126 "Is this project dead?"
There seem to be many issues and a few PRs, and the last release was in 2016. Has this been abandoned?

[2021-01-08 12:16] michal-josef-spacek commented on #126
No really. Some guys want to support. I created #125 with some fixes. We can release new version and talk about important things.

[2021-01-14 13:51] berrely commented on #126
I understand there is still an active community for it, but the maintainers seem to have ignored it. Maybe a current maintainer can make some active contributors maintainers to merge some PRs.

[2021-01-14 16:19] michal-josef-spacek commented on #126
@berrely I have merge rights. Still i need help from users.

[2021-01-27 18:09] michal-josef-spacek commented on #126
@berrely What's main problem of vicuna now?

[2021-02-11 17:01] SimonHuo commented on #83
what should i do

[2021-02-11 17:27] michal-josef-spacek commented on #126
FYI: https://meta.m.wikimedia.org/wiki/Grants:Project/Rapid/Juandev/Accessibility_and_improvement_of_Vicu%C3%B1aUploader

[2021-02-17 14:44] berrely commented on #126
Non really. There's nothing wrong with a project not having updated for a while, but there are some features that Vicuna lacks, such as not even appending templates such as {{[VicuñaUploader](https://commons.wikimedia.org/wiki/Template:Vicu%C3%B1aUploader)}} or similar automatically. I guess I'll close this issue. This is a great tool, much better than Commonist and other similar tools. I hope thi

[2021-02-17 14:44] #126 closed

[2021-02-18 19:31] michal-josef-spacek opened #127 "Add Template:VicuñaUploader"
Add  {{[VicuñaUploader](https://commons.wikimedia.org/wiki/Template:Vicu%C3%B1aUploader)}} automatically

[2021-02-18 19:32] michal-josef-spacek commented on #126
@berrely I added https://github.com/yarl/vicuna/issues/127

[2021-03-28 12:22] saper commented on #126
@michal-josef-spacek big big thanks for taking this project over!

[2021-04-02 08:16] osmvermesser opened #131 "Crash - upable to login"
hi !

till April 2021 serveral person had problems to login by correct password.

look:
https://commons.wikimedia.org/wiki/Commons_talk:Vicu%C3%B1aUploader#Server-Error
https://de.wikipedia.org/wiki/Wikipedia:Fragen_zur_Wikipedia#Vicu%C3%B1aUploader_....

regards Jan

[2021-04-02 20:43] michal-josef-spacek commented on #131
@osmvermesser Hi, what version of vicuna has this issues?

[2021-04-03 00:50] Speravir commented on #131
Michal, I am obviously not osmvermesser, but let me tell:  Using `java.exe` (so, Windows user here) instead of the default `javaw.exe` I get with Vicuna 1.23 and java …
[code]
… these error messages in the commandline (caution, some linebreaks inside of words):
[code]
In regards to the last line there is no possibility to get this displayed, the output simply ended.

So, for me the program did not

[2021-04-03 07:58] michal-josef-spacek commented on #131
@Speravir Last build is this: https://skim.cz/tmp/vicuna-1.24-ae5c63.zip
If you could try, will be great.

[2021-04-03 18:43] Speravir commented on #131
Program starts, but hangs at splash screen. Error message:
[code]

I would suggest to put the batch file into the root directory of Vicuna, not into the bin folder.

[2021-04-03 21:11] michal-josef-spacek commented on #131
@Speravir This dist file is output of ./gradlew build in build/distributions directory. Default configuration of build distribution.

[2021-04-03 21:23] michal-josef-spacek commented on #131
@Speravir Isn't this bug related to java version? (https://github.com/tukkek/javelin/issues/234)

I have:
`openjdk version "11.0.9.1" 2020-11-04
OpenJDK Runtime Environment (build 11.0.9.1+1-post-Debian-1deb10u2)
OpenJDK 64-Bit Server VM (build 11.0.9.1+1-post-Debian-1deb10u2, mixed mode, sharing)`
and working.

[2021-04-04 08:36] osmvermesser commented on #131
hi !

i use win10 and in my knowledge i start the bat-file in bin-folder.

then starts a never ending intro.

Log is:
Exception in thread "FIntro: Splash screen/Updater" java.lang.NoSuchMethodError: java.util.List.of(Ljava/lang/Object;)Ljava/util/List;
        at cuploader.frames.FIntro.checkVersion(FIntro.java:212)
        at cuploader.frames.FIntro.access$100(FIntro.java:15)
        at cuploader

[2021-04-04 09:15] osmvermesser commented on #131
1.23

[2021-04-04 09:35] osmvermesser opened #132 "Bug - Save session-File - coord"
hi!

when save session-file the lat/lon-value will be the same!

_<sessionFile>
      <date>2021-03-31</date>
      <path>F:\Wikipedia\2021\20210331\HL_Grenzsteinpark_1010.jpg</path>
      <cats>Grenzsteinpark</cats>
      <name>HL_Grenzsteinpark_1010</name>
      <coor>
        <latitude>53.836566</latitude>
        <longitude>53.836566</longitude>
      </coor>
      <desc>Historischer Grenzstei

[2021-04-04 09:37] osmvermesser commented on #131
current i install openjdk 16 and then it run.

the problem is, when the setting file exists an the next start the programm will not open.

after manuell delete the programm start - i should define new setting-parameters.

regards jan

[2021-04-04 18:50] Speravir commented on #131
Aah, version 1.23 worked with Java 8 builds (maybe it was Oracle Java, I do not remember).

I now installed `openjdk version "11.0.10" 2021-01-19 LTS`, and the test build works! It should be mentioned that Java 8 is not supported anymore.

[2021-04-04 21:02] michal-josef-spacek commented on #131
Between 1.23 and 1.24 i changed

[2021-04-04 21:07] michal-josef-spacek opened #133 "Vicuna doesn't save session on 1.24"
commit of vicuna: ae5c633ee25eb87d7dcf2c361cef0df160b42bfc
os: Debian
java:
[code]

Error:
[code]

[2021-04-04 21:08] michal-josef-spacek commented on #131
The best way is use 1.24 version (old version of java are not supported). I could support bugfixes across this version. Still i need to know, what happened (version of os, version of java, version of vicuna, describe issue.)

I am looking to #133 bug in last version actually.

[2021-04-04 21:32] michal-josef-spacek commented on #133
The issue is in situation when i am saving session with files without coordinates.

[2021-04-04 21:46] michal-josef-spacek commented on #133
Issue has two parts:
1) Saving session without coordinates.
2) Loading session without coordinates.

[2021-04-04 21:56] #133 closed

[2021-04-04 22:20] #132 closed

[2021-04-04 22:25] michal-josef-spacek commented on #132
Dev release with fix: https://skim.cz/tmp/vicuna-1.24-a627f3.zip

[2021-04-04 22:25] michal-josef-spacek commented on #133
Dev release with fix: https://skim.cz/tmp/vicuna-1.24-a627f3.zip

[2021-04-04 22:27] michal-josef-spacek commented on #131
I created new dev release: https://skim.cz/tmp/vicuna-1.24-a627f3.zip

[2021-04-04 22:28] michal-josef-spacek commented on #131
@osmvermesser @Speravir Could you test this new version? If will be ok, I will release 1.24.

[2021-04-05 17:05] osmvermesser commented on #131
hi!

i try current version:

Start and close - a settings.vicuna will be create - here the log:

[code]

then i start programm again with existing settings.vicuna

`Apr. 05, 2021 6:55:11 PM Wiki getSiteInfo
INFO: Fetching URL https://commons.wikimedia.org/w/api.php?&siprop=namespaces%7Cnamespacealiases%7Cgeneral%7Cextensions&maxlag=5&meta=siteinfo&format=xml&action=query
Apr. 05, 2021 6:55:13 PM W

[2021-04-05 17:07] osmvermesser commented on #131
dont forget for release debug-messagebox to hide at the end.

jan

[2021-04-05 21:00] Speravir commented on #131
First: I have nothing to upload in the moment. Could perhaps be worth asking in Commons:Village pump for more reviews.

On first start an error occurred. Unfortunately I did not safe it, but remembering osmvermesser’s info above about issues with the old settings file I disabled this. Then Vicuna started, but I got this warning:
[code]
After this I disabled the new setting, and re-enabled the old

[2021-04-06 13:37] michal-josef-spacek opened #136 "Remove warning from Vicuna 1.24-dev"
There are a warnings
[code]
Fix code to not present this warnings.

[2021-04-06 13:39] michal-josef-spacek commented on #131
@Speravir I created issue for your case (#136). This was present in 1.23 too and this is warning not error.

[2021-04-06 13:47] michal-josef-spacek commented on #131
@osmvermesser This is crazy to read your issue.

I believe, that you have broken settings.vicuna file on 54 line.
All lines after:
[code]
describes error in XML file.

[2021-04-06 15:36] michal-josef-spacek commented on #136
Fix in #137

[2021-04-06 15:36] #136 closed

[2021-04-06 15:42] michal-josef-spacek commented on #131
I created new dev release: https://skim.cz/tmp/vicuna-1.24-9607b3.zip
* newer xstream dist
* Remove info about default secure policy
* Remove warnings

[2021-04-06 17:07] osmvermesser commented on #131
Hi !

today i could start and restart the programm.

i make a upload at 2021-04-06 ~19:00 but there was no gallery created on https://commons.wikimedia.org/wiki/User:JanTappenbeck/gallery - the profile is start by default profile.

if i current open profile settings the option to create gallery is set.

regards Jan

[2021-04-06 17:29] osmvermesser opened #138 "Disenable upload when Error in FileNames"
Hi!

at the start of upload i get the warning that camera-image-names not good - but in could upload and the processbar started!

![2021-04-06 19_10_43-VicuñaUploader 1 24](https://user-images.githubusercontent.com/6803899/113751064-d0e47680-970b-11eb-9c92-d058974d7e56.png)

if there is a crash-error the upload should not to be allow. (Button disabled)

I click upload and the process startet - but

[2021-04-06 21:48] Speravir commented on #131
michal-josef-spacek :

Osmvermesser:

Same here! :+1:

[2021-04-18 14:00] fundriver opened #139 "Reading out heading out of {{Location}}-template"
Hello,

well this is a feature request, already including a solution how to fix this in the code. At least basicly tested and working for my own purposes (so I can tag my pictures including heading in the newest branch).

I edited the FCoord.java (Line 347) as following to read out the heading out of a turned in Location-Template
`
       //{{Coord|52|14|5.15|N|21|7|51.91|E|region:PL}}
        els

[2021-05-28 22:21] michal-josef-spacek commented on #139
Saving of heading to session file: https://github.com/yarl/vicuna/pull/141
Tested on file with "GPS Img Direction" exif

[2021-07-06 14:08] mrjohnc opened #142 "Application blocked by Java Security, no instructions how to resolve this under 'Installation'"
When I try to start Viccuna Uploader it says 'Application blocked by Java Security' and that I have to add it to the 'Exceptions site list', please could you add instructions on the installation section for how to add things to the exceptions site list and also what to add (it seems like a list of websites).

Thanks

[2021-07-06 14:40] michal-josef-spacek commented on #142
@mrjohnc Which version of Java do you have? Which OS do you have?

[2021-07-06 14:42] #131 closed

[2021-07-06 15:23] michal-josef-spacek commented on #121
@Mistr81  VicunaUploader 1.23 isn't supported now. In last version (development) is this issue fixed.

[2021-07-06 15:23] #121 closed

[2021-07-06 15:42] #114 closed

[2021-07-06 15:43] #118 closed

[2021-07-06 16:58] michal-josef-spacek commented on #127
Fixed in #146

[2021-07-06 16:58] #127 closed

[2021-07-06 21:20] michal-josef-spacek commented on #119
@Aschroet I improved this in #147

[2021-07-06 21:20] #119 closed

[2021-07-06 21:51] michal-josef-spacek commented on #105
Fix in #148

[2021-07-06 21:51] #105 closed

[2021-07-06 22:09] michal-josef-spacek commented on #111
@Aschroet I believe, that i could close this issue. When field is blank, permission line is without value. When field is filled, value is on place.

[2021-07-06 22:09] #111 closed

[2021-07-06 22:35] michal-josef-spacek commented on #112
@Volodya I tested Keepass password and copy paste in my Debian and it's working. So closing issue.

[2021-07-06 22:35] #112 closed

[2021-07-06 22:43] michal-josef-spacek commented on #100
@Perhelion @dominikmatus What's status of this? We need test last version of Vicuna (actually 1.24-beta2) and describe properly issue. As i understand issue is with some small window and not visible "Save" button in setting. But i don't see this issue in my instalation.

[2021-07-06 23:35] michal-josef-spacek opened #149 "Tools/Language/__LANGUAGE__ isn't enabled with value from session.xml"
When i set some language value, in next run value isn't set.

[2021-07-06 23:36] michal-josef-spacek commented on #149
Fixed in #150

[2021-07-06 23:36] #149 closed

[2021-07-07 12:33] michal-josef-spacek opened #151 "When is no network, Vicuna is failing to run"
There is unhandled exception

[2021-07-07 12:35] michal-josef-spacek commented on #151
Fixed in #152

[2021-07-07 12:35] #151 closed

[2021-07-07 17:55] berrely opened #153 "Vicuña can't check for updates"
Even though I have internet, Vicuña fails to start and throws this error:
[code]
Any ideas? Windows 10 64 bit with the latest release.

[2021-07-07 18:08] michal-josef-spacek commented on #153
@berrely which version? In each time i need to know exact version.

[2021-07-07 18:10] berrely commented on #153
Vicuña Uploader 1.23, Java 8 Update 291, Windows build 21H2. Strangely it was working a few minutes ago.

[2021-07-07 18:12] michal-josef-spacek commented on #153
@berrely could you try 1.24-beta2? 1.23 is obsolete. Probably must upgrade java to 11 version.

[2021-07-07 18:13] berrely commented on #153
Sure, can I copy my settings file over?

[2021-07-07 18:17] michal-josef-spacek commented on #153
@berrely that's good question. I don't know. I created some upgrades of config file. The best way is backup and fill new one with old values after saving new one.

[2021-07-07 18:17] berrely commented on #153
It's fine, I picked up anyways. Seems to be working, and quite a few new features! Didn't know there were beta releases. Thanks :D

[2021-07-07 18:17] #153 closed

[2021-07-07 18:18] michal-josef-spacek commented on #153
@berrely could you send me conf file to michal.josef.spacek@gmail.com? I will look to changes

[2021-07-07 18:20] michal-josef-spacek commented on #153
@berrely i released beta2 yesterday. I will release beta3 nearly. Still i need some testers. I haven't windows in this time.

[2021-07-07 22:43] michal-josef-spacek commented on #117
@olea Could you test 1.24-beta2 ? I am using in this resolution and it's fine. Debian openjdk 11.0.11

[2021-07-07 22:45] michal-josef-spacek commented on #86
I am closing this ticket. I don't want to support 1.23. Actually we have 1.24-beta2 and i could help with it.

[2021-07-07 22:45] #86 closed

[2021-07-08 09:10] olea commented on #117
Oh. Now it works, Thank you.

The only thing I miss is to change the application font size :-)

[2021-07-08 09:10] #117 closed

[2021-07-08 14:55] reedy opened #154 "action=query&prop=info&intoken API calls"
In support of https://phabricator.wikimedia.org/T280806, it seems VicunaUploader/1.23 (at least) is still doing `action=query&prop=info&intoken` API calls.

I can't see if this has been fixed in the many commits since 1.23 in https://github.com/yarl/vicuna/compare/1.23...master but if it's not... can someone please fix it?

And if it is fixed... Any chance we can get a release to stop these calls

[2021-07-08 15:57] michal-josef-spacek commented on #154
@reedy Could you check 1.24-beta2?

[2021-07-08 17:08] reedy commented on #154
I'm guessing this may have been fixed due to some update of the https://github.com/MER-C/wiki-java inside vicuna...

Based on https://github.com/MER-C/wiki-java/blob/05aae5a87498c187c533909eb448b7923e70f011/src/org/wikipedia/Wiki.java#L1486-L1502 added in https://github.com/MER-C/wiki-java/commit/9dc236e644cc1dc6ddd33ec964a9f018f207af9a

Based on https://github.com/yarl/vicuna/blob/1.23/src/org/wi

[2021-07-08 19:06] michal-josef-spacek commented on #154
@reedy Yes, i updated Wiki.java to some version, still i cannot update to last version, because some issue :-/

Last pre-release is: https://github.com/yarl/vicuna/releases/tag/1.24-beta2 we need to check.
When i am looking to code, this intoken isn't here. So i am closing ticket. Thanks :-)

[2021-07-08 19:06] #154 closed

[2021-07-08 19:07] michal-josef-spacek opened #155 "Update Vicuna to last version of wiki-java/Wiki.java"
When i am trying to update to last version, there was issue. I don't know why, but we need to update.

[2021-07-09 17:02] michal-josef-spacek commented on #97
Duplicate with #105, fixed in 1.24-beta3

[2021-07-09 17:02] #97 closed

[2021-07-09 17:07] michal-josef-spacek commented on #101
@jayantanth @Silubr @ivanhercaz @FlominatorTM @marcpayne I am closing this ticket, there is no relevant information what happened. I fixed issue with loading of subdirectory.
You could try 1.24-beta3 (https://github.com/yarl/vicuna/releases/tag/1.24-beta3) and check if is there some issue. If yes, you could reopen ticket and describe what happening.

[2021-07-09 17:07] #101 closed

[2021-07-10 12:38] michal-josef-spacek commented on #98
Applied in #157

[2021-07-10 12:38] #98 closed

[2021-07-10 12:53] michal-josef-spacek commented on #87
@mathieumd I merged change from @FlominatorTM with adding of IPTC caption to description. Still it's agains using of language templates.

[2021-07-10 12:58] michal-josef-spacek commented on #87
@frindsbury Interesting idea, but first you need create concept of it. I mean mapping from IPTC to Commons and back. btw: we have structured data on Commons, so mapping of third things.

[2021-07-10 13:05] michal-josef-spacek commented on #93
@Aschroet Could you describe this issue more precisely? I see that is issue with tName = null, but i don't see user use case.

FYI: Best way is test on https://github.com/yarl/vicuna/releases/tag/1.24-beta3

[2021-07-10 13:12] michal-josef-spacek commented on #79
Fixed in #159

[2021-07-10 13:12] #79 closed

[2021-07-10 13:17] michal-josef-spacek commented on #92
@frindsbury What do you mean by geotag?
If you mean GPS coordinates, then it's fixed in https://github.com/yarl/vicuna/releases/tag/1.24-beta3

[2021-07-10 13:31] michal-josef-spacek commented on #82
@nicolas-raoul in 1.24-beta3 it's working, closing ticket.

[2021-07-10 13:31] #82 closed

[2021-07-10 13:32] michal-josef-spacek commented on #90
@moschris is it this issue still in 1.24-beta3?

[2021-07-10 13:34] michal-josef-spacek commented on #84
In session.xml isn't information about selecting.

[2021-07-10 13:51] michal-josef-spacek commented on #84
Fixed in #161

[2021-07-10 13:51] #84 closed

[2021-07-10 13:55] michal-josef-spacek commented on #18
@CodingLama 1.16 isn't supported. On last 1.24-beta3 is this working, i believe.

[2021-07-10 13:55] #18 closed

[2021-07-10 13:58] michal-josef-spacek commented on #16
@reedy ok, that's nice idea. Do you have a proposal for text in summary? Or some extra field?

[2021-07-10 14:28] reedy commented on #16
It's hard to know what I was thinking about 9 years ago...

Is the upload summary still just "VicuñaUploader X.XX"?

[2021-07-10 14:37] michal-josef-spacek commented on #16
@reedy I understand.. So issue is about writing some field for "upload summary".

[2021-07-10 14:55] michal-josef-spacek commented on #120
@satdeepgill Could you test 1.24 beta4 version (https://github.com/yarl/vicuna/releases/tag/1.24-beta4)? I think that is working.

[2021-07-10 14:58] michal-josef-spacek opened #162 "Rethink language setting"
When I do:
* Run app
* Set language to English
* Exit (save to settings.vicuna)
* Run app again (is in English)
* Load images
* Save to session (in session.xml will be lang=en)
* Run app
* Set language to Czech
* Exit (save to settings.vicuna)
* Run app again (is in Czech)
* Load session (load lang=cz in situation when lang is en) This mean, some texts are in Czech.
* Save (save Czech to settings.

[2021-07-20 22:07] CodingLama commented on #80
Does this problem persists, or we can close it as fixed?

[2021-07-20 22:28] CodingLama commented on #121
What is the last version of development? In 1.24 I even cannot open the session after adding coordinates in it.

[2021-07-20 23:32] CodingLama commented on #18
What does it mean 1.16 isnt supported?

[2021-07-21 01:21] nicolas-raoul commented on #80
I have switched OS so I can't try anymore, unfortunately.

[2021-07-21 07:23] michal-josef-spacek commented on #18
@CodingLama There is new version and I don't want to talk about old versions, which had weird issues.

[2021-07-21 07:26] michal-josef-spacek commented on #121
@CodingLama https://github.com/yarl/vicuna/tags
Could you describe issue better?

[2021-07-21 10:02] CodingLama commented on #80
So I guess you hade Linux or something like that before?_

[2021-07-21 10:19] nicolas-raoul commented on #80
Yes, I had Ubuntu Linux.
I guess this can be closed if nobody on Linux can reproduce the problem.

[2021-07-21 10:19] #80 closed

[2021-07-21 13:10] ElGrafo commented on #93
FWIW, the problem does not seem to appear any more with 1.24-beta3 on Ubuntu 20.04.

[2021-07-21 13:46] ElGrafo opened #163 "UI text invisible when using "dark" theme in Ubuntu 20.04 LTS"
As the title says, almost all text in the main window is invisible when using the dark mode (in the "Appearance" settings in Ubuntu, set "Window colors" to Dark) of Ubuntu 20.04 (tested with 1.24-beta3). That's because the text is (correctly) converted from black to white, but the white background is not converted to something dark. Interestingly, the "logged off" is visible as black on white, so

[2021-07-21 13:57] michal-josef-spacek commented on #163
@ElGrafo crazy! I will look to it.

[2021-07-21 15:58] michal-josef-spacek commented on #163
@ElGrafo Could you send me your java swing setting?

I tested this (only one from list) [set env variable in bash]:
export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.c
rossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"

export _JAVA_OPTIONS="-Dswing.metalTheme=steel"

export _JAVA_OPTIONS="-Dswi

[2021-07-21 15:59] michal-josef-spacek commented on #163
@ElGrafo And could you send image from 1.23?

[2021-07-21 16:01] michal-josef-spacek commented on #93
FYI: https://github.com/yarl/vicuna/releases/tag/1.24-beta4

[2021-07-21 18:07] ElGrafo commented on #163
He, thanks for looking into this!

1.23 looks slightly worse (sorry, cannot load an image, 1.23 is pretty broken on Ubuntu:
![gnome-shell-screenshot-WXB160](https://user-images.githubusercontent.com/20686557/126535397-d5a76ab6-2376-4aec-9d14-9f11fa3d721d.png)

TBH, I have no clue what that means (I don't speak Java) and Google wasn't helpful either. Is there a command for that? Meanwhile, here's m

[2021-07-21 18:43] michal-josef-spacek commented on #163
@ElGrafo As i understand there must be some setting as i wrote "swing.__someting__=__something__" or whatever. Maybe there is mode for use gtk setting (and use -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel).

I don't know what i could do in this actually. :-(

[2021-07-23 15:33] ElGrafo commented on #163
The same thing happens on a different machine with Ubuntu 21.04. There's an easy work-around, though: I just temporaily swith to ```Standard``` or ```Light``` mode and everything looks as usual. So don't waste your precious time on this. In fact, this might just as well be a bug in GTK or Ubuntu or something.

Just FTR: On Windows 10, Vicuna completely ignores the dark mode setting of the  operati

[2021-07-23 16:46] CodingLama commented on #16
Yes, it is just that. It might be a question to @yarl whether there is a need to have VicuñaUploader X.XX in the upload summary, or whether you can just add what you want in it. At least VicuñaUploader X.XX is not a tag in recent changes yet, so it could be choosable from a field somewhere e.g. in settings:general

[2021-07-23 21:36] reedy commented on #16
A minimum improvement would be something like "Uploaded file with VicuñaUploader X.XX"

[2021-07-28 13:18] CodingLama commented on #80
Yes, probably it could be closed. I am running 1.24 on Ubuntu and it works.

[2021-07-28 13:26] CodingLama commented on #16
Yes, we can apply that as a default edit summary.

[2021-07-28 13:30] CodingLama commented on #121
I guess it is in Google Sheets, which you have access to. What I am doing here is to reproduce #121 to see, which steps leads to this problem.

[2021-07-28 13:48] CodingLama commented on #38
Some users tend to put the operation they did with the file to the brackets (e.g. XY (original file), XYY (crop)), would that sound to you as a good idea. What would be that information for this operation than?

[2021-07-28 13:53] CodingLama commented on #38
Well, but if the user creates collage, then the user must somehow indicate, which files are in that collage. This looks like, we have to change interphase and maybe because of that, new app would be better than?

[2021-07-28 14:19] CodingLama commented on #66
In 1.24 there is in Tools - Settings - Program - Advanced "File description source" which I guess does, what you are requesting. Have you tried that recently?

[2021-07-28 14:33] CodingLama commented on #67
@mrjohnc @rwiermer Since 2016 there is an app called [Pattypan](https://commons.wikimedia.org/wiki/Commons:Pattypan), which was developed for this use. But also as I have mentioned in #66 VU in 1.24 has a field for loading external file with the metadata. So the question is whether you still need it in VU or whether after the years you moved to Pattypan. The other question is, whether the actual s

[2021-07-29 01:11] nicolas-raoul commented on #38
Putting the operation in brackets is a great idea, yes.

I think collages should be a different issue, as it is different and much more difficult.

By the way, the successor to DerivativeFX is [CropTool](https://croptool.toolforge.org/), unfortunately it still only allows 1-by-1 file uploads.

[2021-07-29 20:15] michal-josef-spacek commented on #77
@nicolas-raoul Could you test this with 1.24-beta4? (https://github.com/yarl/vicuna/releases/tag/1.24-beta4)

[2021-07-29 20:20] michal-josef-spacek commented on #93
I am closing this ticket. When someone touch this issue again, please reopen or create new issue.

[2021-07-29 20:20] #93 closed

[2021-07-29 20:23] michal-josef-spacek commented on #121
@CodingLama In Google Sheets is nothing related to this. I tested and fixed this issue. So when is something similar in 1.24-beta4, i need to understand what happened.

[2021-07-29 22:23] nicolas-raoul commented on #77
Sorry I unfortunately can't test anymore, but thanks for taking care of this! 🙂

[2021-07-30 13:32] michal-josef-spacek commented on #77
I will close this ticket. Similar thing is in https://github.com/yarl/vicuna/issues/105

[2021-07-30 13:32] #77 closed

[2021-08-15 08:48] michal-josef-spacek opened #164 "Automatic update don't work"
Probably related to change to graddle and different distribution format.

[2021-08-15 08:53] michal-josef-spacek commented on #164
Mechanism for automatic update is downloading of jar file from http://yarl.github.io/vicuna/download/latest.jar which redirect to http://yarlu.pl/vicuna/download/latest.jar which is in Pawel space.

[2021-08-15 08:58] michal-josef-spacek commented on #164
TODO:
* Fix situation with creating latest release on some web place or use directly github.
* Fix FDownload.java to new distrubution format (add unzip)

[2021-08-15 12:29] CodingLama commented on #38
And you don't create banners with text? I wonder CropTool does not have such feature.

[2021-08-15 12:39] nicolas-raoul commented on #38
We never add text. Wikivoyage banners are just cropped pictures. 🙂

[2021-08-16 06:31] CodingLama commented on #120
In my beta, the problem persists.

[2021-08-16 12:36] michal-josef-spacek commented on #120
@CodingLama Sorry i don't wrote system of test. I tested on Debian Buster.

We need to test and describe version of Vicuna and version of system.
And we need to know, that we have fonts for test. I believe, that missing font could create this situation.

[2021-08-19 19:41] CodingLama commented on #38
So the way is to download an image, crop it and continue. What about if VU can crop it?

[2021-08-19 19:44] CodingLama commented on #120
1.24b?, Ubuntu MATE

I don't think so. I have that font and it works in the browser.

[2021-10-01 07:10] JiriMatejicek opened #165 "cannot login to Commons"
For two days, I cannot log in to Commons, Vicuna says 'server error'. However, logging in through a web browser works well. Closing or reinstalling Vicuna 1.23 didn't help.

[2021-10-02 13:30] GilPe64 commented on #165
Same for me … :-|

[2021-10-03 15:01] michal-josef-spacek commented on #165
Which version of Vicuna? You are talking about 1.23. Could you try 1.24?

[2021-10-03 15:36] GilPe64 commented on #165
Hi,

Yes, Im using version 1.23.

Until now, I was not able to install version 1.24. The website http://yarlu.pl/vicuna/ only offers 1.23 to download.

Checking for updates through the “Help” in Vicuna does neither work …

GilPe64

From: Michal Josef Špaček ***@***.***>
Sent: Sonntag, 3. Oktober 2021 17:02
To: yarl/vicuna ***@***.***>
Cc: GilPe64 ***@***.***>; Comment ***@***.***>
Subject: Re: [ya

[2021-10-03 16:24] michal-josef-spacek commented on #165
@GilPe64 https://github.com/yarl/vicuna/releases/tag/1.24

[2021-10-03 17:48] JiriMatejicek commented on #165
I've tried version 1.24, but there is no file that would run.

[2021-10-03 18:11] michal-josef-spacek commented on #165
@JiriMatejicek Download vicuna-1.24.zip, extract to file system and run bin/vicuna.bat on Windows or bin/vicuna on Linux.

[2021-10-03 18:58] GilPe64 commented on #165
Sorry, but it is not possible to run the vicuna.bat Windows10. Vers. 21H1

GilPe

From: Michal Josef Špaček ***@***.***>
Sent: Sonntag, 3. Oktober 2021 20:11
To: yarl/vicuna ***@***.***>
Cc: GilPe64 ***@***.***>; Mention ***@***.***>
Subject: Re: [yarl/vicuna] cannot login to Commons (#165)

@JiriMatejicek <https://github.com/JiriMatejicek>  Download vicuna-1.24.zip, extract to file system and run

[2021-10-03 20:50] JiriMatejicek commented on #165
Same here. Windows 10, vicuna.bat does not start anything.

[2021-10-03 21:32] michal-josef-spacek commented on #165
@JiriMatejicek @GilPe64 And what's a result of vicuna.bat run?

[2021-10-04 05:27] GilPe64 commented on #165
Hi,

A DOS-window appears for half e second, disappears… nothing more.

GilPe64

From: Michal Josef Špaček ***@***.***>
Sent: Sonntag, 3. Oktober 2021 23:33
To: yarl/vicuna ***@***.***>
Cc: GilPe64 ***@***.***>; Mention ***@***.***>
Subject: Re: [yarl/vicuna] cannot login to Commons (#165)

@JiriMatejicek <https://github.com/JiriMatejicek>  @GilPe64 <https://github.com/GilPe64>  And what's a resul

[2021-10-04 14:01] michal-josef-spacek commented on #165
@GilPe64

You could run in console or some managar (like FAR manager).
There is some output.

FYI: I tested on Windows 10 and i have issue with bad option --add-opens.  I will look to it, still i don't know how to fix now.
BTW: In 1.24 is fix for some logging issues.

[2021-10-04 15:44] JiriMatejicek commented on #165
At first, it looks similar to Windows - just blinks and goes back to FAR manager. Somewehere behind the main window I was able to find this, which may be a clue:

ERROR: JAVA_HOME is not set and no 'java' command could be found in your PATH.
Please set the JAVA_HOME variable in your environment to match the
location of your Java installation.
...
ERROR: JAVA_HOME is set to an invalid directory: %J

[2021-10-09 16:30] GilPe64 commented on #165
Hi,

Sorry for not replying earlier, I was away…

Trying to start the vicuna.bat in DOS-Windows gives this result:

GilPe64

From: Michal Josef Špaček ***@***.***>
Sent: Sonntag, 3. Oktober 2021 20:11
To: yarl/vicuna ***@***.***>
Cc: GilPe64 ***@***.***>; Mention ***@***.***>
Subject: Re: [yarl/vicuna] cannot login to Commons (#165)

@JiriMatejicek <https://github.com/JiriMatejicek>  Download vicu

[2021-10-09 21:50] Silubr1 commented on #165
Possibly related to this problem:
https://github.com/ritschwumm/commonist/issues/25

See also https://commons.wikimedia.org/w/index.php?title=Commons:Forum&oldid=597158580#Problem_beim_Hochladen_mit_Commonist
(in German)

[2021-10-12 10:22] CodingLama commented on #165
Yes, it's related to that problem so it is not a version-specific issue. We had prepared new release of Vicuna and now we are waiting weather someone will fix it.

[2021-10-12 11:39] michal-josef-spacek commented on #165
@CodingLama What do you mean by "We had prepared new release of Vicuna"? Who? Where? Actually last version is 1.24 and no big commits in preparation. Still some issues for next version.

FYI: There are some commits in branch https://github.com/exander77/vicuna , but we need to clean them and i don't know what author of commits mean about moving to main branch.
CC: @exander77

As i understand there

[2021-10-12 11:44] CodingLama commented on #165
@michal-josef-spacek I don't understand you, but I guess fork of the project does not fix this problem.

[2021-10-12 12:01] michal-josef-spacek commented on #165
@CodingLama You are saying "We had prepared new release of Vicuna" and i don't understand what you are saying.
Last version is https://github.com/yarl/vicuna/releases/tag/1.24
And after 1.24 there are feww small commits now.

[2021-10-14 11:49] michal-josef-spacek opened #167 "Cannot set category with sort"
When i am putting category name to input box, i cannot set sort option in "__CATEGORY__|sort" form.

There is exception like:
[code]

[2021-10-16 09:32] michal-josef-spacek opened #169 "Improve information about minimal version of Java in Readme"
As i understand minimal version of Java is 11, related to Java.Wiki which is not working in lower versions.
We need to test and describe.

[2021-10-16 10:19] michal-josef-spacek commented on #165
I tested issue with logging in 1.24 and there is exception with Wiki.java:
java.util.zip.ZipException: Not in GZIP format

So we need to upgrade to new version of Wiki.java

1.23 is obsolete version, because there are other issues with Wiki.java like token (as i remember).

[2021-10-16 10:36] michal-josef-spacek commented on #169
We cannnot compile Wiki.java with 1.8.0 java compiler. Tested. We need to update documentation to Java 11 as minimal version.

[2021-10-16 15:38] michal-josef-spacek commented on #165
Everything which we need is in https://github.com/yarl/vicuna/pull/166 , actually waiting for fix in wiki-java.

[2021-10-19 23:37] michal-josef-spacek opened #173 "Vicuna 1.24 don't work on Windows 10 machine"
Issue with bad option --add-opens

[2021-10-19 23:38] michal-josef-spacek commented on #165
PR for issue with communication is in https://github.com/yarl/vicuna/pull/172
I created issue for Windows problem: https://github.com/yarl/vicuna/issues/173

[2021-10-30 23:49] michal-josef-spacek commented on #108
Issue is still here (1.25)

[2021-10-30 23:53] michal-josef-spacek commented on #169
PR #178

[2021-10-30 23:53] #169 closed

[2021-11-19 21:39] jkjkjkjkjk opened #179 "Cannot upload files to Commons"
I am able to open session, upload progress bar is running, but upload gets stuck at the end.

At console:
[code]

[2021-11-19 22:10] michal-josef-spacek commented on #179
@jkjkjkjkjk Which version of Vicuna? Which OS? Which Java version?

There is multiple upload calls in log. We don't know if successful or not :-)

[2022-01-19 17:34] exander77 commented on #179
@michal-josef-spacek It's Java 17 issue with wiki-java library as far as it seems.

[2022-01-23 20:07] MER-C commented on #179
I fixed the underlying issue upstream in MER-C/wiki-java 02a2e8d.

[2022-02-03 10:07] uxDesign opened #180 "running on openJDK 16"
I had an issue to get it running and compiling with openJDK 16.

In gradle.build I added options.encoding = 'UTF-8' to gradle.projectsEvaluated to get rid of compile errors with codepage of source files

gradle.projectsEvaluated {
    tasks.withType(JavaCompile){
        options.compilerArgs << "-Xlint:unchecked"
				 options.encoding = 'UTF-8'
    }
}

and in vicuna.bat of the output I added comm